@charset "UTF-8";
*{margin:0; padding:0;}
li{list-style:none;}
a{text-decoration:none; color:#333;}

body{width:100%; height:auto; min-width:1280px; max-width:1680px;}
.wrap{width:80%; height:auto; margin:0 auto; position:relative;}

header{width:100%; min-width:1280px; max-width:1680px; height:70px; z-index:5;
  background-color: #fff; top:-72px; left:0; transition: top 0.2s ease-in-out;
  position:fixed; font-family: "AmaticSC-Bold"; border-bottom:2px solid #333;}
.nav_up{top:0;}
header a img{width:6%; height:70%; margin-top: 12px;}
header .header_mainmenu{
  width:60%; position:relative;
  float:right; text-align:center;}
header .header_mainmenu >li{width:25%; height:70px; float:left;}
header .header_mainmenu >li:first-child{margin-left:25%;}
header .header_mainmenu >li a, b{
  width:100%; height:100%; transition:.3s; cursor:pointer;
  display:inline-block;}
header .header_mainmenu >li b:hover{background-color:#6666ff;}
header .header_mainmenu >li a:hover{background-color:#6666ff;}
header .header_mainmenu >li:hover .header_submenu{display:block;}
header .header_submenu{position:absolute; width:25%; display:none;
  border-bottom:2px solid #333;
  border-left:2px solid #333;
  border-right:2px solid #333;}
header .header_submenu li{width:100%; height:70px;}
header .header_submenu li a, b{
  width:100%; height:100%;
  background-color:rgba(255, 255, 255,1);}
header ul li p{margin-top:17px; font-size:30px;}

.top_line{width:1px; height:100%;
  border-right:1px dashed #000; top:0;
  display:inline-block; right:5%;
  z-index:2;
  position:fixed;}
.top_bt_test{
  position:fixed; top:90%; right:3.5%;
  display:inline-block; z-index:3;}
.top_bt_test p{position:absolute; top:50%; left:50%; font-size:10px;
  transform:translate(-50%, -50%); font-weight: bold; font-family:"DoHyeon-Regular";}

#contents{width:100%; height:auto; position:relative; font-family:"AmaticSC-Bold"; color:#333;}
#contents h1{font-size:60px; cursor:default;}

.con0{width:95%; height:800px; z-index:2; text-align:center;
  position:relative; background-color:#6666ff; margin:0 auto;}
.con0 .con0_text{width:300px; height:auto;
  position: absolute; top:50%; left:50%; transform:translate(-50%, -50%);}
.con0 .con0_text img{width:160px; height:160px; color:#fff;}
.con0 .con0_text p{font-size:50px; color:#fff;}

.new_window{width:70%; height:80%; background-color:#fff; border:1px solid #333;
  box-shadow:1px 1px 10px #333; z-index:3; font-family:"NanumBarunpen"; display:none;
  position:fixed; top:50%; left:50%; transform:translate(-50%, -50%);}
.new_window_top{width:100%; height:30px; background-color:#3333ff; position:relative;}
.new_window_close{float:right; position:relative; cursor:pointer;}
.new_window_close span:first-child{
  width:15px; height:15px; display:inline-block;
  border-bottom:2px solid #fff; position:absolute; right:4px; top:0;
  transform: rotate(45deg);}
.new_window_close span:last-child{
  width:15px; height:15px; display:inline-block;
  border-bottom:2px solid #fff; position:absolute; right:4px; top:11px;
  transform: rotate(135deg);}
.new_window_text{width:100%; height:95%;overflow:auto;}
.new_window_text_wrap{width:90%; height:auto; margin:0 auto; position:relative;}
.new_window_text_wrap >img{width:70%; padding-top:20px; margin:0 auto; display:block;}
.new_window_text_wrap >h1{width:100%; margin-top:5px;}
.new_window_text_wrap .new_window_sub_title{text-align:center; font-size:18px; margin-top:3px; cursor:default;}
.new_window_text_wrap >span{width:auto; height:auto; display:block; margin-top:20px; margin-bottom:15px; text-align:center;}
.new_window_text_wrap >span a{width:100%; height:100%; border:1px solid black; padding:5px; transition:1s;}
.new_window_text_wrap >span a:hover{background-color:#000; color:#fff;}
.new_window_text_wrap div{position:relative; margin-top:30px; border-bottom: 1px dashed #333; padding-bottom:20px;}
.new_window_text_wrap .new_window_text1{border:none;}
.new_window_text_wrap div img{display:inline-block; width:50%;}
.new_window_text_wrap div h2{display:inline-block; width:45%; height:auto; position:absolute; top:0; right:2.5%; text-align:center; font-size:30px; margin-top:3px; cursor:default;}
.new_window_text_wrap div p{display:inline-block; width:45%; position:absolute; right:2.5%; top:40px; text-align: center; font-size:20px; cursor:default;margin-bottom:20px; margin-top:3px;}
.new_window_text_wrap .new_window_img{width:70%; margin:0 auto; padding-top:20px;}
.new_window_text_wrap .new_window_img img{display:block; width:25%; float:left; cursor:pointer;}

#contents .star{width:100%; height:auto; display:block; position:relative; padding:100px 0 0 0; text-align:center;}
#contents .star i{font-size:50px; color:#3333ff;}


.con1{width:100%; height:auto; position:relative; margin-top:80px;}
.con1 .con1_line{width:100%; height:330px; display:inline-block;}
.con1 .con1_line1{width:30%; height:100%; float:left; overflow:hidden; cursor:pointer; border:1px solid #000; position:relative;
  background-color:#ccccff; margin-right:2.5%; margin-top:10px;}
.con1 .con1_line .con1_line1:hover .hover_box{opacity:1;}
.con1 .con1_line .con1_line1 .hover_box{
  width:100%; height:100%; margin:0; position:absolute; top:0; left:0; text-align:center;
  background-color:rgba(0,0,0,.6); z-index: 1; transition:.5s; opacity:0;}
.con1 .con1_line .con1_line1 .hover_box p{color:#fff; font-size:30px; position:absolute; top:50%; left:50%;
  transform:translate(-50%,-50%); font-family:"NanumBarunpen";}
.con1 .con1_line1 img{width:100%;}
.con1 .con1_more{width:150px; height:55px; text-align:center; margin:0 auto; background-color:#333; cursor:pointer; overflow:hidden;
  position:relative; display:block; font-size:24px; font-family:"NanumBarunpen"; margin-top:80px; margin-bottom:40px;}
.con1 .con1_more p{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); transition:.5s;}
.con1 .con1_more::before{background-color:#6666ff; content:''; position:absolute; top:0; left:0;
width:100%; height:100%; transition:.5s;}
.con1 .con1_more:hover::before{transform:translateX(-100%);}
.con1 .con1_more:hover p{color: #6666ff;}

.con2{width:100%; height:auto; position:relative; margin-top:80px;}
.con2 .con2_line{width:100%; height:330px; display:inline-block;}
.con2 .con2_line1{width:30%; height:100%; float:left; overflow:hidden; cursor:pointer; border:1px solid #000; position:relative;
  background-color:#ccccff; margin-right:2.5%; margin-top:10px;}
.con2 .con2_line .con2_line1:hover .hover_box{opacity:1;}
.con2 .con2_line .con2_line1 .hover_box{
  width:100%; height:100%; margin:0; position:absolute; top:0; left:0; text-align:center;
  background-color:rgba(0,0,0,.6); z-index: 1; transition:.5s; opacity:0;}
.con2 .con2_line .con2_line1 .hover_box p{color:#fff; font-size:30px; position:absolute; top:50%; left:50%;
  transform:translate(-50%,-50%); font-family:"NanumBarunpen";}
.con2 .con2_line1 img{width:100%;}
.con2 .con2_more{width:150px; height:55px; text-align:center; margin:0 auto; background-color:#333; cursor:pointer; overflow:hidden;
  position:relative; display:block; font-size:24px; font-family:"NanumBarunpen"; margin-top:80px; margin-bottom:40px;}
.con2 .con2_more p{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); transition:.5s;}
.con2 .con2_more::before{background-color:#6666ff; content:''; position:absolute; top:0; left:0;
width:100%; height:100%; transition:.5s;}
.con2 .con2_more:hover::before{transform:translateX(-100%);}
.con2 .con2_more:hover p{color: #6666ff;}




footer{width:100%; height:285px; position:relative; font-family:"NanumBarunpen";
  background-color:#fff; margin-top:10px;}
footer .footer_text{text-align:center; position:absolute;
  top:50%; left:50%; transform:translate(-50%, -50%);}
footer .footer_text img{
  width:112px; height:106px;
  display:block; margin:0 auto;}
footer .footer_text p{font-size:13px;}
