@charset "UTF-8";
*{margin:0; padding:0;}
li{list-style:none;}
a{text-decoration:none; color:#333;}

body{width:100%; height:auto; min-width:1280px; max-width:1680px;}
.wrap{width:80%; height:auto; margin:0 auto; position:relative;}

header{width:100%; min-width:1280px; max-width:1680px; height:70px; z-index:5;
  background-color: #fff; top:-72px; left:0; transition: top 0.2s ease-in-out;
  position:fixed; font-family: "AmaticSC-Bold"; border-bottom:2px solid #333;}
.nav_up{top:0;}
header a img{width:6%; height:70%; margin-top: 12px;}
header .header_mainmenu{
  width:60%; position:relative;
  float:right; text-align:center;}
header .header_mainmenu >li{width:25%; height:70px; float:left;}
header .header_mainmenu >li a, b{
  width:100%; height:100%; transition:.3s; cursor:pointer;
  display:inline-block;}
header .header_mainmenu >li a:hover{background-color:#ff3366;}
header .header_mainmenu >li b:hover{background-color:#ff3366;}
header .header_mainmenu >li:hover .header_submenu{display:block;}
header .header_submenu{position:absolute; width:25%; display:none;
  border-bottom:2px solid #333;
  border-left:2px solid #333;
  border-right:2px solid #333;}
header .header_submenu li{width:100%; height:70px;}
header .header_submenu li a, b{
  width:100%; height:100%;
  background-color:rgba(255, 255, 255,1);}
header ul li p{margin-top:17px; font-size:30px;}

.top_line{width:1px; height:100%;
  border-right:1px dashed #000; top:0;
  display:inline-block; right:5%;
  z-index:2;
  position:fixed;}
.top_bt_test{
  position:fixed; top:90%; right:3.5%;
  display:inline-block; z-index:3;}
.top_bt_test p{position:absolute; top:50%; left:50%; font-size:10px;
  transform:translate(-50%, -50%); font-weight: bold; font-family:"DoHyeon-Regular";}


#contents{width:100%; height:auto; position:relative; font-family:"AmaticSC-Bold"; color:#333;}
#contents h1{font-size:60px; cursor:default;}

.con0{width:95%; height:800px; z-index:2; text-align:center;
  position:relative; background-color:#ff99cc; margin:0 auto;}
.con0 .con0_text{width:300px; height:auto;
  position: absolute; top:50%; left:50%; transform:translate(-50%, -50%);}
.con0 .con0_text img{width:160px; height:160px; color:#fff;}
.con0 .con0_text p{font-size:50px; color:#fff;}

.new_window{width:70%; height:80%; background-color:#fff; border:1px solid #333;
  box-shadow:1px 1px 10px #333; z-index:3; font-family:"NanumBarunpen"; display:none;
  position:fixed; top:50%; left:50%; transform:translate(-50%, -50%);}
.new_window_top{width:100%; height:30px; background-color:#ff3366; position:relative;}
.new_window_close{float:right; position:relative; cursor:pointer;}
.new_window_close span:first-child{
  width:15px; height:15px; display:inline-block;
  border-bottom:2px solid #fff; position:absolute; right:4px; top:0;
  transform: rotate(45deg);}
.new_window_close span:last-child{
  width:15px; height:15px; display:inline-block;
  border-bottom:2px solid #fff; position:absolute; right:4px; top:11px;
  transform: rotate(135deg);}
.new_window_text{width:100%; height:95%;overflow:auto;}
.new_window_text_wrap{width:90%; height:auto; margin:0 auto; position:relative;}
.new_window_text_wrap >img{width:100%; margin-top:20px;}
.new_window_text_wrap >h1{width:100%; margin-top:5px;}
.new_window_text_wrap .new_window_sub_title{text-align:center; font-size:18px; margin-top:3px; cursor:default;}
.new_window_text_wrap >span{width:auto; height:auto; display:block; margin-top:20px; margin-bottom:15px; text-align:center;}
.new_window_text_wrap >span a{width:100%; height:100%; border:1px solid black; padding:5px; transition:1s;}
.new_window_text_wrap >span a:hover{background-color:#000; color:#fff;}
.new_window_text_wrap div{position:relative; margin-top:30px; border-bottom: 1px dashed #333; padding-bottom:20px;}
.new_window_text_wrap div img{display:inline-block; width:50%;}
.new_window_text_wrap div h2{display:inline-block; width:45%; height:auto; position:absolute; top:0; right:2.5%; text-align:center; font-size:30px; margin-top:3px; cursor:default;}
.new_window_text_wrap div p{display:inline-block; width:45%; position:absolute; right:2.5%; top:40px; text-align: center; font-size:20px; cursor:default;margin-bottom:20px;}

.con1{width:100%; height:auto; position:relative; margin-top:80px;}
.con1 ul{width:100%; height:330px; display:inline-block;}
.con1 li{width:30%; height:100%; float:left; overflow:hidden; cursor:pointer; position:relative;
  background-color:#ffcccc; margin-right:2.5%; margin-top:10px; border:1px solid #000;}
.con1 ul li:hover .hover_box{opacity:1;}
.con1 ul li .hover_box{
  width:100%; height:100%; margin:0; position:absolute; top:0; left:0; text-align:center;
  background-color:rgba(0,0,0,.8); z-index: 1; transition:.5s; opacity:0;}
.con1 ul li .hover_box p{color:#fff; font-size:30px; position:absolute; top:50%; left:50%;
  transform:translate(-50%,-50%); font-family:"NanumBarunpen"; display:block; width:100%;}
.con1 ul li .hover_box .con_sub{margin-top: 30px; font-size:18px;}
.con1 li img{width:100%; position:absolute; top:0; left:0;}

.con2{width:100%; height:auto; position:relative; margin-top:80px;}
.con2 ul{width:100%; height:330px; display:inline-block;}
.con2 li{width:30%; height:100%; float:left; overflow:hidden; cursor:pointer; position:relative;
  background-color:#ffcccc; margin-right:2.5%; margin-top:10px; border:1px solid #000;}
.con2 ul li:hover .hover_box{opacity:1;}
.con2 ul li .hover_box{
  width:100%; height:100%; margin:0; position:absolute; top:0; left:0; text-align:center;
  background-color:rgba(0,0,0,.8); z-index: 1; transition:.5s; opacity:0;}
.con2 ul li .hover_box p{color:#fff; font-size:30px; position:absolute; top:50%; left:50%;
  transform:translate(-50%,-50%); font-family:"NanumBarunpen"; display:block; width:100%;}
.con2 ul li .hover_box .con_sub{margin-top: 30px; font-size:18px;}
.con2 li img{width:100%; position:absolute; top:0; left:0;}

#contents .star{width:100%; height:auto; display:block; position:relative; padding:120px 0 40px 0; text-align:center;}
#contents .star i{font-size:50px; color:#ff3366;}


.con3{width:100%; height:auto; position:relative; margin-top:80px;}
.con3 .con3_line{width:100%; height:330px; display:inline-block;}
.con3 .con3_line1{width:30%; height:100%; float:left; overflow:hidden; cursor:pointer; border:1px solid #000;
  background-color:#ffcccc; margin-right:2.5%; margin-top:10px; position:relative;}
.con3 .con3_line .con3_line1:hover .hover_box{opacity:1;}
.con3 .con3_line .con3_line1 .hover_box{
  width:100%; height:100%; margin:0; position:absolute; top:0; left:0; text-align:center;
  background-color:rgba(0,0,0,.8); z-index: 1; transition:.5s; opacity:0;}
.con3 .con3_line .con3_line1 .hover_box p{color:#fff; font-size:30px; position:absolute; top:50%; left:50%;
  transform:translate(-50%,-50%); font-family:"NanumBarunpen"; width:100%;}
.con3 .con3_line1 img{width:100%; height:100%;}
.con3 .con3_more{width:150px; height:55px; text-align:center; margin:0 auto; background-color:#333; cursor:pointer; overflow:hidden;
  position:relative; display:block; font-size:24px; font-family:"NanumBarunpen"; margin-top:80px; margin-bottom:40px;}
.con3 .con3_more p{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); transition:.5s;}
.con3 .con3_more::before{background-color:#ff99cc; content:''; position:absolute; top:0; left:0;
width:100%; height:100%; transition:.5s;}
.con3 .con3_more:hover::before{transform:translateX(-100%);}
.con3 .con3_more:hover p{color: #ff99cc;}

.con3_animation1 section{width:100%; height:300px; background:#ff9999; box-sizing:border-box;
  overflow:hidden; position:relative; color:#99ff33; margin-top:20px;}
.con3_animation1 .wrapper{ width:50%; height:100%; background:#99ff33; overflow:hidden;
  color:#ff9999; position:absolute; top:0; left:0;}
.con3_animation1 .sliding{ position:absolute; top:50%; white-space:nowrap; font-size: 12em;
  line-height: 220px; overflow:hidden; font-family:"arial black"; animation:animate1 10s linear infinite;}
@keyframes animate1 {
  0%{transform:translate(0, -50%);}
  100%
  {transform:translate(-50%, -50%);}}

.con3_animation2 section{width:100%; height:300px; background: #ff5544; font-size:3em;
  font-family: sans-serif; color:#fff; text-shadow:0 2px 2px rgba(0, 0, 0, .5); margin-top:20px;}
.con3_animation2 section p{display: inline-block; margin-top:100px; margin-left:50px;}
.con3_animation2 .word{display:inline-block; color:#ff0; position: absolute; top: 200px; left: 350px;}
.con3_animation2 .word span{position:absolute; top:0; overflow:hidden; opacity:0;
  animation:animate2 10s linear infinite;}
@keyframes animate2 {
  0%{opacity:0; transform:translateY(-50px);}
  2%{opacity:1; transform:translateY(0px);}
  18%{opacity:1; transform:translateY(0px);}
  20%{opacity:0; transform:translateY(50px);}
  100%{opacity:0; transform:translateY(50px);}}
.con3_animation2 .word span:nth-child(1){animation-delay:0s;}
.con3_animation2 .word span:nth-child(2){animation-delay:2s;}
.con3_animation2 .word span:nth-child(3){animation-delay:4s;}
.con3_animation2 .word span:nth-child(4){animation-delay:6s;}

.con3_animation3 section{width:100%; height:300px; background:#262626; position:relative;}
.con3_animation3 section ul{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);
  margin:0; padding:0; display:flex;}
.con3_animation3  ul li{list-style:none; font-family:arial; font-size:5em; letter-spacing:15px;
  color:#484848; text-shadow:none; animation: animate3 1.4s infinite linear;}
@keyframes animate3 {
  0%{color:#484848;text-shadow:none;}
  18%{color:#484848;text-shadow:none;}
  20%{color:#ffcccc;text-shadow:0 0 7px #ffcccc, 0 0 20px #ff0066;}
  30%{color:#484848;text-shadow:none;}
  35%{color:#ffcccc;text-shadow:0 0 7px #ffcccc, 0 0 20px #ff0066;}
  70%{color:#484848;text-shadow:none;}
  85%{color:#ffcccc;text-shadow:0 0 7px #ffcccc, 0 0 20px #ff0066;}
  90%{color:#484848;text-shadow:none;}
  100%{color:#484848;text-shadow:none;}}
.con3_animation3 ul li:nth-child(1){animation-delay:.2s;}
.con3_animation3 ul li:nth-child(2){animation-delay:.4s;}
.con3_animation3 ul li:nth-child(3){animation-delay:.6s;}
.con3_animation3 ul li:nth-child(4){animation-delay:.8s;}
.con3_animation3 ul li:nth-child(5){animation-delay:1s;}
.con3_animation3 ul li:nth-child(6){animation-delay:1.2s;}
.con3_animation3 ul li:nth-child(7){animation-delay:1.4s;}
.con3_animation3 ul li:nth-child(8){animation-delay:1.6s;}

.con3_animation4 ul{width:100%; height:300px; display:flex; position: relative;}
.con3_animation4 ul li{
  list-style: none;
  width:10%;
  height:100%;
  background: transparent;
  box-shadow: 5px 0 5px rgba(0,0,0,.2);
  animation: animate4 infinite linear 5s;}
@keyframes animate4 {
  0%{background:#ac30e5;}
  20%{background:#ff00d2;}
  40%{background:#309fe5;}
  60%{background:#30e54e;}
  80%{background:#e5e330;}
  100%{background:#ac30e5;}}
.con3_animation4 ul li:nth-child(1){animation-delay:.2s; z-index:10;}
.con3_animation4 ul li:nth-child(2){animation-delay:.4s; z-index:9;}
.con3_animation4 ul li:nth-child(3){animation-delay:.6s; z-index:8;}
.con3_animation4 ul li:nth-child(4){animation-delay:.8s; z-index:7;}
.con3_animation4 ul li:nth-child(5){animation-delay:1s; z-index:6;}
.con3_animation4 ul li:nth-child(6){animation-delay:1.2s; z-index:5;}
.con3_animation4 ul li:nth-child(7){animation-delay:1.4s; z-index:4;}
.con3_animation4 ul li:nth-child(8){animation-delay:1.6s; z-index:3;}
.con3_animation4 ul li:nth-child(9){animation-delay:1.8s; z-index:2;}
.con3_animation4 ul li:nth-child(10){animation-delay:2s; z-index:1;}

.con3_animation5 section{width:100%; height:300px; position:relative; background-color:#262626;}
.con3_animation5 ul{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);}
.con3_animation5 ul li{margin:0 15px; display:inline-block;}
.con3_animation5 ul li a{
  width: 60px; height: 60px; position:relative; display:block; color: #666;
  text-align: center; line-height: 60px; background: #333; border-radius: 50%;}
.con3_animation5 ul li a:before{
  width:100%; height:100%; position:absolute; top:0; left: 0;
  content: ''; border-radius: 50%; background: #33ccff;
  transition: .5s; transform: scale(.9); z-index: -1;}
.con3_animation5 ul li a:hover::before{transform: scale(1.1); box-shadow: 0 0 15px #33ccff;}
.con3_animation5 ul li a:hover{color:#33ccff; box-shadow: 0 0 5px #33ccff; text-shadow: 0 0 5px #33ccff;}

.con3_animation6 .container{width:100%; height:400px ;display:flex; box-sizing:border-box;
  position:relative; border:0; padding:0; overflow:hidden;}
.con3_animation6 .container .box{width:20%; text-align: center; line-height:400px;
  flex-grow:1; transition: 1s; cursor:pointer; margin:0; border:0; padding:0;}
.con3_animation6 .container h3{margin:0; padding:0; line-height:400px; font-size: 20px;
  background: rgba(0,0,0,.8); transition: .5s; text-align:}
.con3_animation6 .container h3 span{width:100%; background: rgba(255,255,255,0); transition: 1s;
  color: #fff; padding: 25px 20px; text-transform: uppercase; letter-spacing: 2px;}
.con3_animation6 .container .box:hover h3 span{color: #262626; background: rgba(255,255,255,8);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);}
.con3_animation6 .container .box:hover h3{background: rgba(0,0,0,0);}
.con3_animation6 .container .box:hover{width:40%;}
.con3_animation6 .container .box:nth-child(1){background:url("https://ifh.cc/g/6f5rQ.jpg"); background-size:cover; background-position:center;}
.con3_animation6 .container .box:nth-child(2){background:url("https://ifh.cc/g/O7Nbx.jpg"); background-size:cover; background-position:center;}
.con3_animation6 .container .box:nth-child(3){background:url("https://ifh.cc/g/1GRm3.jpg"); background-size:cover; background-position:center;}
.con3_animation6 .container .box:nth-child(4){background:url("https://ifh.cc/g/zSCwK.jpg"); background-size:cover; background-position:center;}
.con3_animation6 .container .box:nth-child(5){background:url("https://ifh.cc/g/AvOAb.jpg"); background-size:cover; background-position:center;}

.con3_animation7 .con3_ani7_box{width:100%; height:400px; position:relative; background:#ff005c; margin-top:30px;}
.con3_animation7 .loader{width:400px; height: 100px; transform:translate(-50%, -50%);
  position:absolute; top:50%; left:50%; text-transform: uppercase; line-height: 100px;
  text-align: center; color:#fff; font-size: 40px; letter-spacing: 15px;
  font-family: sans-serif; overflow: hidden;}
.con3_animation7 .loader span{position:absolute; background: #fff;}
.con3_animation7 .loader span:nth-child(1){width:100%; height: 4px;
  top:0; left: -100%; animation: animate7_1 2s linear infinite;}
.con3_animation7 .loader span:nth-child(3){width:100%; height: 4px;
  bottom: 0; right: -100%; animation: animate7_3 2s linear infinite;}
.con3_animation7 .loader span:nth-child(2){width:4px; height: 100%;
  right: 0; top: -100%; animation: animate7_2 2s linear infinite;}
.con3_animation7 .loader span:nth-child(4){width:4px; height: 100%;
  left: 0; bottom: -100%; animation: animate7_4 2s linear infinite;}
@keyframes animate7_1 {
  0%{left:-100%;} 20%{left:0;}
  40%{left:100%;} 60%{left:100%;}
  80%{left:100%;} 100%{left:100%;}}
@keyframes animate7_2 {
  0%{top:-100%;} 20%{top:-100%;}
  40%{top:0;} 60%{top:100%;}
  80%{top:100%;} 100%{top:100%;}}
@keyframes animate7_3 {
  0%{right:-100%;} 20%{right:-100%;}
  40%{right:-100%;} 60%{right:0;}
  80%{right:100%;} 100%{right:100%;}}
@keyframes animate7_4 {
  0%{bottom:-100%;} 20%{bottom:-100%;}
  40%{bottom:-100%;} 60%{bottom:-100%;}
  80%{bottom:0;} 100%{bottom:100%;}}

.con3_animation8 section{width:100%; height:500px; position:relative; background:#262626; margin-top:30px;}
.con3_animation8 ul{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%) skewY(-8deg); display:flex;
  background:#f00; box-shadow:0 0 0 10px #fff; overflow:hidden; margin:0; padding:0;}
.con3_animation8 ul li{display:block; color:#fff; padding:0 10px; font-size:3em; font-weight:bold;
  text-transform:uppercase; font-family:sans-serif; animation: animate8 2.5s linear infinite;}
@keyframes animate8 {
  0%{transform: translateY(-100px) rotateY(0deg);}
  20%{transform: translateY(0px) rotateY(360deg);}
  40%{transform: translateY(-10px) rotateY(360deg);}
  50%{transform: translateY(0px) rotateY(360deg);}
  50%{transform: translateY(0px) rotateY(360deg);}
  60%{transform: translateY(-10px) rotateY(360deg);}
  70%{transform: translateY(0px) rotateY(360deg);}
  80%{transform: translateY(0px) rotateY(360deg);}
  100%{transform: translateY(100px) rotateY(720deg);}}
.con3_animation8 ul li:nth-child(1){animation-delay: .1s;}
.con3_animation8 ul li:nth-child(2){animation-delay: .2s;}
.con3_animation8 ul li:nth-child(3){animation-delay: .3s;}
.con3_animation8 ul li:nth-child(4){animation-delay: .4s;}
.con3_animation8 ul li:nth-child(5){animation-delay: .5s;}
.con3_animation8 ul li:nth-child(6){animation-delay: .6s;}
.con3_animation8 ul li:nth-child(7){animation-delay: .7s;}
.con3_animation8 ul li:nth-child(8){animation-delay: .8s;}
.con3_animation8 ul li:nth-child(9){animation-delay: .9s;}



footer{width:100%; height:285px; position:relative; font-family:"NanumBarunpen";
  background-color:#fff; margin-top:10px;}
footer .footer_text{text-align:center; position:absolute;
  top:50%; left:50%; transform:translate(-50%, -50%);}
footer .footer_text img{
  width:112px; height:106px;
  display:block; margin:0 auto;}
footer .footer_text p{font-size:13px;}
